.error.wpt_test_editor > ul {
    margin-left: 1em;
}
.error.wpt_test_editor ul {
    list-style: circle;
    padding-left: 1em;
}

.wp-media-buttons .wpt-button.add {
    padding-left: 1px;
}
.wp-media-buttons .wpt-button.edit {
    padding-left: 3px;
}

table.wpt_questions {
    width: 100%;
}

.wpt_questions .wpt_title input {
    width: 100%;
}

.wpt_questions .wpt_number {
    width: 1em;
    text-align: right;
}

.wpt_questions .wpt_answer input {
    width: 100%;
    min-width: 10em;
}

.wpt_questions .wpt_scale {
    text-align: center;
}

.wpt_questions .wpt_scale input {
    text-align: center;
    width: 100%;
}

table.wpt_formulas,
table.wpt_formulas_helper {
    margin-top: 1em;
}

.wpt_formulas .wpt_title {
    width: 1em;
    white-space: nowrap;
}

.wpt_formulas .wpt_formula input {
    width: 100%;   
}

#wpt_quick_fill_scores,
#wpt_quick_fill_questions {
    margin-bottom: 1em;
}

#wpt_quick_fill_questions textarea {
    height: 30em;
    width: 100%;
}

table.wpt_quick_scores {
    margin-bottom: 0.5em;
}

table.wpt_quick_scores th {
    text-align: center;
}

table.wpt_quick_scores th.questions {
    width: 90%;
}
table.wpt_quick_scores td {
    white-space: nowrap;
}
table.wpt_quick_scores td.answer {
    text-align: center;
}
table.wpt_quick_scores th.score,
table.wpt_quick_scores td.score {
    padding-right: 0em;
}
table.wpt_quick_scores td.score input {
    text-align: center;
    width: 5em;
}
table.wpt_quick_scores td.questions input {
    width: 100%;
}

.wpt-add-individual-answers span.howto {
    display: inline;
}
.wpt-add-individual-answers.wp-hidden-children span.howto.wp-hidden-child {
    display: none;
}
.wpt-add-individual-answers textarea {
    height: 5em;
    width: 100%;    
}
