.error.wpt_test_editor > ul {
    margin-left: 1em;
}
.error.wpt_test_editor ul {
    list-style: circle;
    padding-left: 1em;
}

.wp-media-buttons .wpt-button.add {
    padding-left: 1px;
}
.wp-media-buttons .wpt-button.edit {
    padding-left: 3px;
}

#wpt_edit_questions .inside {
    overflow: auto;
}

table.wpt_questions {
    width: 100%;
}

.wpt_questions .wpt_title input {
    width: 100%;
}

.wpt_questions .wpt_number {
    width: 1em;
    text-align: right;
}

.wpt_questions .wpt_answer input {
    width: 100%;
    min-width: 10em;
}

.wpt_questions .wpt_scale {
    text-align: center;
}

.wpt_questions .wpt_scale input {
    text-align: center;
    width: 100%;
}

table.wpt_formulas,
table.wpt_formulas_helper {
    margin-top: 1em;
}

table.wpt_formulas_helper .operators input {
    min-width: 3.5em;
}

.wpt_formulas .wpt_title {
    width: 1em;
    white-space: nowrap;
}

.wpt_formulas .wpt_formula input {
    width: 100%;   
}

#wpt_quick_fill_scores,
#wpt_quick_fill_questions {
    margin-bottom: 1em;
}

#wpt_quick_fill_questions textarea {
    height: 30em;
    width: 100%;
}

table.wpt_quick_scores {
    margin-bottom: 0.5em;
}

table.wpt_quick_scores th {
    text-align: center;
}

table.wpt_quick_scores th.questions {
    width: 90%;
}
table.wpt_quick_scores td {
    white-space: nowrap;
}
table.wpt_quick_scores td.answer {
    text-align: center;
}
table.wpt_quick_scores th.score,
table.wpt_quick_scores td.score {
    padding-right: 0em;
}
table.wpt_quick_scores td.score input {
    text-align: center;
    width: 5em;
}
table.wpt_quick_scores td.questions input {
    width: 100%;
}

.wpt-add-individual-answers span.howto {
    display: inline;
}
.wpt-add-individual-answers.wp-hidden-children span.howto.wp-hidden-child {
    display: none;
}
.wpt-add-individual-answers textarea {
    height: 5em;
    width: 100%;    
}

ul.categorychecklist.ui-sortable li.wpt-sortable {
    background-image: url(../img/icon-grippable.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 10px;
    cursor: move;
}

ul.categorychecklist.ui-sortable li.wpt-sortable.wpt-sortable-container {
    background-position: left 5px;
}

ul.categorychecklist.ui-sortable li.sortable-placeholder {
    background: none;
}

#passings-filter.form-passingtable-user .bulkactions {
    display: none;
}

#passings-filter .tablenav .actions select {
    float: left;
    margin-right: 6px;
    max-width: 200px;
}

#passings-filter .search-input {
    display: block;
    float: left;
    margin-right: 6px;
    max-width: 200px;
    vertical-align: middle;
}

#passings-filter .search-input span {
    display: none;
}

#passings-filter .search-input.has-value span {
    display: block;
    margin: 6px 4px;
    margin-top: 0px;
    color: #777;
}

#passings-filter .search-input input {
    width: 10em;
}

.wp-list-table.passings .column-user img {
    float: left;
    margin-top: 1px;
    margin-right: 10px;
}

.wp-list-table.passings th.sortable span {
    white-space: nowrap;
    padding-right: 20px;
}

.wp-list-table.passings th.sortable .sorting-indicator {
    display: block;
    margin-left: -10px;
    padding-right: 0px;
    visibility: hidden;
}

.wp-list-table.passings th.sorted.asc .sorting-indicator,
.wp-list-table.passings th.desc:hover span.sorting-indicator,
.wp-list-table.passings th.sorted.desc .sorting-indicator,
.wp-list-table.passings th.asc:hover span.sorting-indicator {
    visibility: visible;
}

pre.exposed {
    width: 100%;
    white-space: pre-wrap;
}

#screen-options-wrap label[for=id-hide],
#screen-options-wrap label[for=actions-hide],
#screen-options-wrap label[for=row_number-hide],
#screen-options-wrap label[for=view-hide] {
    display: none;
}

.screen-options label[for=passing_browser_per_page] {
    float: left;
    margin-right: 4px;
    padding-right: 0px;
    line-height: 28px;
}

#adv-settings h5 {
    display: none;
}

#adv-settings h5:first-child {
    display: block;
}

#adv-settings > .screen-options {
    padding-top: 10px;
}
