.wpt_test .question {
    margin-bottom: 1.25em;
}

.wpt_test .question .title {
    font-weight: bold;
}

.wpt_test .question .title .number {
    font-weight: normal;
    display: inline-block;
    padding-right: 0.5em;
    text-align: right;
}

.wpt_test .answer {
    padding-top: 0.25em;
    padding-left: 0.5em;
}

.wpt_test .answer label {
    margin-left: 0.25em;
}

.wpt_test .answer input {
    margin-top: -2px;
    vertical-align: middle;
}

.wpt_test .button {
    margin-top: 0.75em;
}

.wpt_test .button.disabled {
    opacity: 0.5;
}

.wpt_test .get_results .meter,
.wpt_test .get_results .meter > span {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    position: relative;
}
.wpt_test .get_results .meter {
    height: 1.8em;
    margin-bottom: 1em;
    padding: 2px 1px;
    border: 1px solid highlight;
}
.wpt_test .get_results .meter > span {
    display: block;
    height: 100%;
    background: highlight;
    overflow: hidden;
}
.wpt_test .get_results .scale.scores {
    padding-left: 7px;
    padding-top: 0.1em;
    font-weight: bold;
    position: absolute;
    z-index: 1;
}

.wpt_test .get_results .content {
    color: gray;
}

/* @see gootstrap .bs-callout */
/* common */
.wpt_danger,
.wpt_warning,
.wpt_info {
    padding: 1.2em;
    margin: 1.2em 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.wpt_danger  h1, .wpt_danger  h2, .wpt_danger  h3, .wpt_danger  h4,
.wpt_warning h1, .wpt_warning h2, .wpt_warning h3, .wpt_warning h4,
.wpt_info    h1, .wpt_info    h2, .wpt_info    h3, .wpt_info    h4 {
    margin-top: 0;
    margin-bottom: 1em;
    font-weight: bold;
}
.wpt_danger  p:last-child,
.wpt_warning p:last-child,
.wpt_info    p:last-child {
    margin-bottom: 0em;
}
/* colors */
.wpt_danger {
    border-left-color: #d9534f;
}
.wpt_danger  h1, .wpt_danger  h2, .wpt_danger  h3, .wpt_danger  h4 {
    color: #d9534f;
}
.wpt_warning {
    border-left-color: #f0ad4e;
}
.wpt_warning h1, .wpt_warning h2, .wpt_warning h3, .wpt_warning h4 {
    color: #f0ad4e;
}
.wpt_info {
    border-left-color: #5bc0de;
}
.wpt_info    h1, .wpt_info    h2, .wpt_info    h3, .wpt_info    h4 {
    color: #5bc0de;
}
