.wpt_test .question {
    margin-bottom: 1.25em;
}

.wpt_test .question .title {
    font-weight: bold;
}

.wpt_test .question .title .number {
    font-weight: normal;
    display: inline-block;
    width: 3em;
    margin-left: -3.5em;
    padding-right: 0.5em;
    text-align: right;
}

.wpt_test .answer {
    padding-top: 0.25em;
    padding-left: 0.5em;
}

.wpt_test .answer label {
    margin-left: 0.25em;
}

.wpt_test .answer input {
    margin-top: -2px;
    vertical-align: middle;
}

.wpt_test .button {
    margin-top: 0.75em;
}

.wpt_test .button.disabled {
    opacity: 0.5;
}
