/db/log/*.log
/db/ruckusing.conf.local.php
/db/sql/*.bak
/composer.lock
/js/vendor/evercookie
/js/vendor/uuid-js
/phpunit.xml
/tests/mocha/node_modules/
/tests/integration-environment/cache/*.*
/tests/integration-environment/wordpress/
/tests/integration-environment/wordpress-*.tar.gz
/tests/integration-environment/*.zip
/tests/integration-environment/*.log
/tests/integration-environment/*.pid
/tools/refactoring/*.sql
/tools/refactoring/*.svg
/tools/screenshots/node_modules/
/tools/screenshots/raw/*.png
/tools/screenshots/decorated/*.png
/tools/support/*.txt
/tools/support/*.md
/tools/support/wordpress-support-mirror/
/vendor/
