/cache/
/composer.lock
/db/log/*.log
/db/ruckusing.conf.local.php
/db/sql/*.bak
/docker-compose.override.yaml
/js/vendor/evercookie
/js/vendor/uuid-js
/phpunit.xml
/tests/integration-environment/*.log
/tests/integration-environment/*.pid
/tests/integration-environment/*.zip
/tests/integration-environment/cache/*.*
/tests/integration-environment/wordpress-*.tar.gz
/tests/integration-environment/wordpress/
/tests/mocha/node_modules/
/tests/mocha/screens/
/tools/intro-video/*.mp4
/tools/intro-video/.backup/
/tools/intro-video/aifc/
/tools/intro-video/background/
/tools/intro-video/mkv/
/tools/intro-video/mp3/
/tools/intro-video/node_modules/
/tools/intro-video/thumbnail/
/tools/intro-video/thumbs/
/tools/intro-video/Wp-testing-Intro.mp4.txt
/tools/refactoring/*.sql
/tools/refactoring/*.svg
/tools/screenshots/decorated/*.png
/tools/screenshots/node_modules/
/tools/screenshots/raw/*.png
/tools/support/*.md
/tools/support/*.txt
/tools/support/wordpress-support-mirror/
/vendor/
/wordpress/
